body {
    
    background-image: url('https://png.pngtree.com/png-clipart/20201208/original/pngtree-red-apple-fruit-illustration-png-image_5604381.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}