<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style2.css">
    <title>Record Stard</title>
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Record</title>

    </head>
    <body>
        <div id="controls">
            <button id="buttonHome">
                <a href="http://127.0.0.1:5500/HTML/index1.html" title="Return">Home</a>
            </button>
            <button id="buttonPlay">
                <a href="http://127.0.0.1:5500/HTML/index.html" title="Return">Play</a>
            </button>
        </div>
        <h1>New Record</h1>
        
        <form action="/validate" method="post">
            <label for="nam">Name:</label>
            <input type="text" name="nam" id="nam"><br><br>
        
                <div class="score">Score: 0</div>
                <div class="high-score">High Score: 0</div>
            </div>


    
            <input type="submit" value="Register">
        </form>
        <script src="../JS/script.js"></script>
    </body>
    </html>
    